$error: #ff4136;

$bg-main: #fbfbfb;

$header-main: #d1609c;
$header-light: #e485b7;

$card-bg: #fefefe;
$card-border: #d0d0d0;
$card-hovered-bg: #f6faff;

$text-default: #454545;
$text-med-dark: #5d5656;
$text-med: #696969;
$text-med-light: #727272;
$text-light: #999;
