@import './colors';
@import './layout';

@mixin listViewContentWrapper {
  margin: auto;
  max-width: $listViewMaxWidth;
  min-height: 200px;
  position: relative;
}

@mixin listViewBucketHeader {
  color: $text-med-light;
  font-size: 1.3rem;
  text-align: left;
}

@mixin listViewBucket {
  padding: 1rem 0;
}
