$error: #ff4136;

$header-main: #d1609c;
$header-light: #e485b7;

$card-bg: #f9f9f9;
$card-border: #bbb;
$card-hovered-bg: #e4effc;

$text-default: #232323;
$text-med-dark: #5d5656;
$text-med: #696969;
$text-med-light: #727272;
$text-light: #999;
