@import '~shoelace-css/dist/shoelace.css';
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

@import '~packages/styles/src/_colors';

* {
  box-sizing: border-box;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: $bg-main;
  color: $text-default;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

hr {
  margin: 1rem 0;
}
